.item {
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation-name: loading;
  animation-duration: 1s;

  // 단축 속성
  // animation: loading 1.2s infinite linear;

  /* 개별 속성
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  */
}
.item:hover {
  animation-play-state: paused;
}

@keyframes loading {
  0% {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  100% {
    position: absolute;
    top: 150px;
    left: 300px;
  }
}
